.profile{
    display: flex;
}

.profileRight{
    flex: 9;
}

.profileCover{
    height: 320px;
    position: relative;
}

.profileCoverImg{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.profileUserImg{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 150px;
    border: 3px solid white;
}

.profileInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profileInfoName{
    font-size: 24px;
}

.profileInfoDesc{
    font-weight: 300;
}

.profileRightBottom{
    display: flex;
}
@media only screen and (max-width: 893px){
    .profileCover{
        width: 128%;
    }

    /* .profileCover{
     width: 200%;
    } */
    /* .profileInfo{
     /* position: relative; */
     /* left: 45%; */

    /* } */
    /* .tpc{
        position: fixed;
    } */
    /* .tp{
        position: fixed;
        height: 50px;
        width: 100%;
        background-color: aqua;
        display: flex;
        align-items: center;
        /* position: sticky; */
        /* top: 0;
        z-index: 999; */

    /* } */ */
    .profileRightTop{
     width: 180%;
    }
    .sidebar{
        display: none;
    }
    .profileCover{
        z-index: -100;
    }
    .profileInfo{
        margin-left: 29%;
    }
    /* .Rb{
        border-radius: 10% !important;
    } */


}