.topbarContainer {
  height: 50px;
  width: 100%;
  background-color: #beb0ff;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
}

.topbarLeft {
  flex: 3;
}

.logo {
  font-size: 24px;
  margin-left: 20px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.topbarCenter {
  flex: 5;
}

.searchbar {
  width: 100%;
  height: 30px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
}

.searchIcon {
  font-size: 20px !important;
  margin-left: 10px;
}

.searchInput {
  border: none;
  width: 70%;
}

.searchInput:focus {
  outline: none;
}

.topbarRight {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: rgb(0, 0, 0);
}

.topbarLink {
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
  color: black;
  /* display: flex; */
}
.topbarLink {
  display: flex;
}

.topbarIcons {
  display: flex;
}

.topbarIconItem {
  margin-right: 15px;
  cursor: pointer;
  position: relative;
}

.topbarIconBadge {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  color: white;
  position: absolute;
  top: -5px;
  right: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.topbarImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
/* .hm {
  margin: 4%;
  margin-right: 23%;
}
.tl {
  margin-right: 0%;
  margin-left: 26%;
} */
.burger {
  position: absolute;
  right: 10%;
  top: 15px;
  cursor: pointer;
  display: none;
}
.line {
  width: 20px;
  background: rgb(255, 255, 255);
  height: 4px;
  margin: 3px 3px;
}
.menu-sidebar {
  position: absolute;
  top: 50px;
  /* left: 0px; */
  /* width: 150px; */
  border-radius: 5px;
  display: flex;
  background-color: white;
  padding: 20px 20px 20px 20px;
  z-index: 99;
  border: 1px solid;
}
.menu-sidebar ul{
  padding: 0px
}
.lg, jk {
  border-radius: 5px;
  cursor: pointer;
  padding: 8px 20px;
}
.lg:hover, .jk:hover {
  background-color: rgb(166, 166, 255);
}

/* serachbar css */
.containerSearchSpace{
  width: 100% !important;
  position: fixed;
  top: 50px;
}
.searchspace {
  /* display: none; */
  width: 350px;
  margin: auto;
  /* position: fixed;
  top: 40px; */
  display: flex;
  justify-content: center;
  background: white;
  padding: 8px;
  margin: auto;
  border: 1px solid rgb(105, 105, 105);
  border-radius: 5px;
  gap: 40px;
  align-items: center;
}
.searchuserProfile {
  width: 40px;
  height: 40px;
}
.nav-item {
  list-style: none;
  margin: 5px 0px;
}
/* button:focus{
  outline: none;
} */
.btn {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

@media only screen and (max-width: 896px) {
  .topbarIcons {
    display: none;
  }
  .topbarContainer {
    z-index: 100;
    /* width: 128%; */
  }
  .topbarIconIteam {
    display: none;
  }
  .topbarLinks{
    display: none;
  }
  /* .topbarContainer{
        width: 220vw;
    } */
  /* .burger {

    position: fixed;
    right: 60px;
    top: 15px;
    cursor: pointer;
    display: block;
  } */
  .burger {
    display: block !important;
    float: right;
    background-color: #080808;
    color: #fff;
    padding: 4px 7px;
    border-radius: 5px;
    margin: 9px auto 0;
    cursor: pointer;
    /* position: relative;
    z-index: 10037; */
    position: fixed;
    right: 60px;
    top: 0px;
  }
  .topbarLink {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 10px;
    width: 35px !important;
    height: 35px !important;
  }

  .topbarImg {
    position: fixed;
    right: 10px;
    top: 10px;
  }

  .logo {
    font-size: 15px;
    margin-left: 10px;
    margin-top: -9px;
    position: fixed;
    font-weight: bold;
    color: rgb(0, 0, 0);
    cursor: pointer;
  }
  .Hm {
    margin-left: 30px;
    right: 110px;
    /* padding: 15px; */
    /* font-size: 90px; */
  }
  .Tl {
    right: 160px;
  }
  .lg {
    display: none;
  }
  /* .menu-sidebar{
    display: grid;
    position: absolute;
    background: #404040;
    width: 100%;
    top: 200px;
    left: 0;
    transform: translateY(-100%);
    z-index: -1;
    transition: .6s;
  } */
  /* .menu-sidebar .nav-item {
    padding-left: 35px;
  } */
}
